@import "variables";
@import "uservariables";

%primaryColor {
  $bgColorPrimary: #898d7e;
  $textColorPrimary: white;
}
@mixin clickable {
  cursor: pointer;
  outline: 0;
  &:hover {
    filter: brightness($hoverDarken);
  }
  &:active {
    filter: brightness($activeDarken);
  }
}
@mixin nonClickable {
  &:disabled {
    pointer-events: none;
    filter: brightness($activeDarken);
  }
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin rounded{
  border-radius: 15px;
}

@mixin defaultColor {
  background: $bgColorDefault;
  color: $textColorDefault;
  &.outline {
    background: transparent;
    color: unset;
    border: 1px solid $bgColorDefault;
  }
}
@mixin primaryColor {
  background: $bgColorPrimary;
  color: $textColorPrimary;
  &.outline {
    background: transparent;
    color: darken($bgColorPrimary, 10%);
    border: 1px solid $bgColorPrimary;
  }
}

@mixin successColor {
  background: $bgColorSuccess;
  color: $textColorSuccess;
  &.outline {
    background: transparent;
    color: darken($bgColorSuccess, 10%);
    border: 1px solid $bgColorSuccess;
  }
}
@mixin warningColor {
  background: $bgColorWarning;
  color: $textColorWarning;
  &.outline {
    background: transparent;
    color: darken($bgColorWarning, 10%);
    border: 1px solid $bgColorWarning;
  }
}
@mixin dangerColor {
  background: $bgColorDanger;
  color: $textColorDanger;
  &.outline {
    background: transparent;
    color: darken($bgColorDanger, 10%);
    border: 1px solid $bgColorDanger;
  }
}
