@import "variables";
@import "uservariables";

%primaryColor {
  $bg-color-primary: #898d7e;
  $text-color-primary: white;
}
@mixin clickable {
  cursor: pointer;
  outline: 0;
  &:hover {
    filter: brightness($hover-darken);
  }
  &:active {
    filter: brightness($active-darken);
  }
}
@mixin nonClickable {
  &:disabled {
    pointer-events: none;
    filter: brightness($active-darken);
  }
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@mixin rounded{
  border-radius: 15px;
}

@mixin defaultColor {
  background: $bg-color-dafault !important;
  color: $text-color-dafault !important;
  &.outline {
    background: transparent;
    color: unset;
    border: 1px solid $bg-color-dafault;
  }
}
@mixin primaryColor {
  background: $bg-color-primary !important;
  color: $text-color-primary !important;
  &.outline {
    background: transparent;
    color: darken($bg-color-primary, 10%);
    border: 1px solid $bg-color-primary;
  }
}

@mixin successColor {
  background: $bg-color-success !important;
  color: $text-color-success !important;
  &.outline {
    background: transparent;
    color: darken($bg-color-success, 10%);
    border: 1px solid $bg-color-success;
  }
}
@mixin warningColor {
  background: $bg-color-warning !important;
  color: $text-color-warning !important;
  &.outline {
    background: transparent;
    color: darken($bg-color-warning, 10%);
    border: 1px solid $bg-color-warning;
  }
}
@mixin dangerColor {
  background: $bg-color-danger!important; 
  color: $text-color-danger !important;
  &.outline {
    background: transparent;
    color: darken($bg-color-danger, 10%);
    border: 1px solid $bg-color-danger;
  }
}
