$darkBg: #333;
$darkText: #aaa;
$padding: 10px;
$border-radius: 5px;

$bgColorDefault: #898d7e;
$textColorDefault: white;

$bgColorPrimary: #48d1cc;
$textColorPrimary: white;

$bgColorSuccess: #7fff00;
$textColorSuccess: white;

$bgColorWarning: #ffae42;
$textColorWarning: white;

$bgColorDanger: #d9534f;
$textColorDanger: white;

$hoverDarken: 85%;
$activeDarken: 70%;

$animation: 1s;
$li-inline-margin-right: 10px;
$border-color: #ddd;

$font-size-8: 32px;
$font-size-7: 24px;
$font-size-6: 21px;
$font-size-5: 18px;
$font-size-4: 15px;
$font-size-3: 12px;
$font-size-2: 9px;
$font-size-1: 6px;
