$dark-bg: #333;
$dark-text: #aaa;
$padding: 10px;
$border-radius: 5px;
$default-color: white;
$bg-color-dafault: #898d7e;
$text-color-dafault: white;

$bg-color-primary: #48d1cc;
$text-color-primary: white;

$bg-color-success: #7fff00;
$text-color-success: white;

$bg-color-warning: #ffae42;
$text-color-warning: white;

$bg-color-danger: #d9534f;
$text-color-danger: white;

$hover-darken: 85%;
$active-darken: 70%;

$animation: 1s;
$li-inline-margin-right: 10px;
$border-color: #ddd;

$font-size-8: 32px;
$font-size-7: 24px;
$font-size-6: 21px;
$font-size-5: 18px;
$font-size-4: 15px;
$font-size-3: 12px;
$font-size-2: 9px;
$font-size-1: 6px;

$box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

$card-width: 200px;
$card-box-width: 150px;
$card-box-height: 150px;
$card-padding: 10px;

$card-user-img-width: 30px;