$darkBg: #333;
$darkText: #aaa;
$padding: 10px;
$border-radius: 5px;

$bgColorPrimary: #48d1cc;
$textColorPrimary: white;

$bgColorSuccess: #7FFF00;
$textColorSuccess: white;

$bgColorWarning: #ffae42;
$textColorWarning: white;

$bgColorDanger: #d9534f;
$textColorDanger: white;