@import "fonts";
@import "variables";
@import "keyframes";
@import "mixins";
@import "uservariables";
@import "usermixins";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.ui {
  color: $initial-color;

  .slider {
    width: $slider-width;
    height: $slider-height;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    .controls {
      position: absolute;
      width: $slider-width;
      @include center;
      .dots {
        display: flex;
        .dot {
          width: $slider-dot-size;
          height: $slider-dot-size;
          border: 1px solid $bg-color-default;
          border-radius: 50%;
          margin-left: $slider-contols-dot-space;
          cursor: pointer;
          &.active {
            background: $bg-color-default;
          }
        }
      }
      .angles {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .angle{
          cursor: pointer;
          padding: 10px;
          flex: 1;
          height: $angle-height;
          @include center;
          &.left{
            justify-content: flex-start;
          }
          &.right{
            justify-content: flex-end;
          }
        }
      }
    }
    img {
      transition: $animation;
      min-width: 100%;
      height: auto;
    }
    &.fluid {
      width: 100%;
    }
    &.success {
      .controls .dots .dot {
        border: 1px solid $bg-color-success;
        &.active {
          background: $bg-color-success;
        }
      }
    }
    &.primary {
      .controls .dots .dot {
        border: 1px solid $bg-color-primary;
        &.active {
          background: $bg-color-primary;
        }
      }
    }
    &.warning {
      .controls .dots .dot {
        border: 1px solid $bg-color-warning;
        &.active {
          background: $bg-color-warning;
        }
      }
    }
    &.danger {
      .controls .dots .dot {
        border: 1px solid $bg-color-danger;
        &.active {
          background: $bg-color-danger;
        }
      }
    }
  }

  .breadcrumbs {
    @include inline;
    .breadcrumb {
      cursor: pointer;
      @include inline;
      white-space: pre;
      .divider {
        cursor: text;
        color: $breadcrumb-color;
      }
    }
    &.horizontal {
      align-items: unset;
      flex-direction: column;
    }
  }
  .input {
    .input-helper {
      cursor: pointer;
      position: relative;
      display: inline-block;
      &:before {
        content: "";
        display: block;
        position: absolute;
      }
      &.radio {
        padding-left: 15px;
        &:before {
          top: 1px;
          left: 0;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid $bg-color-default;
        }
      }
      &.checkbox {
        padding-left: 18px;
        &:before {
          top: 0;
          left: 0;
          width: 13px;
          height: 13px;
          border: 1px solid $bg-color-default;
        }
      }
    }

    input {
      &[type="radio"],
      &[type="checkbox"] {
        display: none;
        &:checked + label:before {
          background: $bg-color-default;
        }
      }
    }

    &.success {
      input {
        &[type="radio"],
        &[type="checkbox"] {
          &:checked + label:before {
            background: lighten($bg-color-success, 10%);
          }
        }
      }
      .input-helper {
        &.radio:before {
          border: 1px solid $bg-color-success;
        }
        &.checkbox:before {
          border: 1px solid $bg-color-success;
        }
      }
    }
    &.warning {
      input {
        &[type="radio"],
        &[type="checkbox"] {
          &:checked + label:before {
            background: lighten($bg-color-warning, 10%);
          }
        }
      }
      .input-helper {
        &.radio:before {
          border: 1px solid $bg-color-warning;
        }
        &.checkbox:before {
          border: 1px solid $bg-color-warning;
        }
      }
    }
    &.danger {
      input {
        &[type="radio"],
        &[type="checkbox"] {
          &:checked + label:before {
            background: lighten($bg-color-danger, $active-darken);
          }
        }
      }
      .input-helper {
        &.radio:before {
          border: 1px solid $bg-color-danger;
        }
        &.checkbox:before {
          border: 1px solid $bg-color-danger;
        }
      }
    }
    &.primary {
      input {
        &[type="radio"],
        &[type="checkbox"] {
          &:checked + label:before {
            background: lighten($bg-color-primary, $active-darken);
          }
        }
      }
      .input-helper {
        &.radio:before {
          border: 1px solid $bg-color-primary;
        }
        &.checkbox:before {
          border: 1px solid $bg-color-primary;
        }
      }
    }
  }

  .dropdown-group {
    .content {
      display: none;
      &.active {
        display: block;
      }
    }
  }

  .dropdown {
    border: 1px solid inherit;
    .header {
      padding: 10px;
      justify-content: space-between;
      display: flex;
      cursor: pointer;
      i {
        margin: 0 0px 0 10px;
        &.rotate {
          animation: rotateDown $animation 1;
          transform: rotate(0deg);
        }
        &.rotated {
          animation: rotateUp $animation 1;
          transform: rotate(180deg);
        }
      }
    }
    .content {
      overflow: hidden;
      text-align: left;
      padding-bottom: 1px;
      display: none;
      .dropdown-item {
        color: unset;
        padding: 10px;
        border-left: 0;
        border-right: 0;
      }
    }
    &.right {
      * {
        text-align: right;
      }
      .header {
        flex-direction: row-reverse;
        i {
          margin: 0 10px 0 0;
        }
      }
    }
    &.center {
      & > * {
        text-align: center;
      }
      .header {
        .title {
          justify-content: space-between;
        }
      }
      .content {
        .dropdown-item {
          padding: 10px 30px 10px 10px;
        }
      }
    }

    &.success {
      @include successBorderColor;
    }
    &.primary {
      @include primaryBorderColor;
    }
    &.warning {
      @include warningBorderColor;
    }
    &.danger {
      @include dangerBorderColor;
    }
  }
  .nav {
    background: $bg-color-default;
    width: 100%;
    min-height: 20px;
    padding: 0 $padding;
    color: $text-color-default;
    & > * {
      display: flex;
      flex-direction: row;
    }
    .left {
      order: 1;
    }
    .right {
      order: 2;
      &.collapse {
        .dropdown {
          width: auto;
          .content {
            position: absolute;
            // right: 0;
          }
        }
        @include tablet {
          flex-direction: column;
        }
      }
    }
    .dropdown {
      &.center {
        .dropdown-item {
          padding: 10px;
        }
      }
    }
    @include center;
    justify-content: space-between;
  }
  .card {
    max-width: $card-width;
    overflow: hidden;
    overflow-wrap: break-word;
    box-shadow: $box-shadow;
    @include center;
    flex-direction: column;
    & > .header {
      height: $card-box-height;
      overflow: hidden;
      @include center;
      img {
        height: auto;
        width: stretch;
      }
    }
    & > .center {
      margin-top: 10px;
      @include center;
      flex-direction: column;
      margin-top: $padding;
      .user {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: calc(#{$card-width} - #{$card-padding});
        padding: 0 $padding;
        img {
          width: $card-user-img-width;
          margin-right: $card-padding;
        }
        .user-info {
          text-align: left;
        }
      }
      .content {
        text-align: left;
        padding: 0 $padding;
      }
    }
    & > .footer {
      width: -webkit-fill-available;
      margin-top: 10px;
      @include center;
    }
  }

  table {
    &.divider {
      td,
      th {
        border: 1px solid $border-color;
      }
    }
    border-collapse: collapse;
    width: auto;
    td,
    th {
      padding: $padding;
    }
    tr {
      &:first-child {
        background: $bg-color-default;
      }
    }
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      color: $text-color-default;
    }
  }
  .font-size-8 {
    font-size: $font-size-8;
  }
  .font-size-7 {
    font-size: $font-size-7;
  }
  .font-size-6 {
    font-size: $font-size-6;
  }
  .font-size-5 {
    font-size: $font-size-5;
  }
  .font-size-4 {
    font-size: $font-size-4;
  }
  .font-size-3 {
    font-size: $font-size-3;
  }
  .font-size-2 {
    font-size: $font-size-2;
  }
  .font-size-1 {
    font-size: $font-size-1;
  }

  .tag {
    @include center;
    padding-right: 10px;
    margin-left: 5px;
    @include defaultColor;
    .connector {
      position: relative;
      right: 5px;
      background: inherit;
      height: 10px;
      width: 10px;
      border-radius: 50%;
    }
  }
  .loader {
    &.spinner {
      background: none;
      border: 2px solid transparent;
      border-radius: 50%;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      width: 15px;
      height: 15px;
      -webkit-animation: spin $animation linear infinite;
      animation: spin $animation linear infinite;
    }
    &.progress {
      background-color: #b3d4fc;
      display: -webkit-flex;
      display: flex;
      height: 3px;
      width: 100%;
      margin: 0;
      &:before {
        height: 3px;
        width: 100%;
        margin: 0;
        background-color: #3f51b5;
        content: "";
        -webkit-animation: running-progress $animation cubic-bezier(0.4, 0, 0.2, 1) infinite;
        animation: running-progress $animation cubic-bezier(0.4, 0, 0.2, 1) infinite;
      }
    }
  }
  .container {
    @include center;
    flex-direction: column;
    margin-bottom: 10px;
    .row {
      display: flex;
      flex-direction: row;
    }
  }
  .message-box {
    position: fixed;
    top: 0;
    right: 0;
  }

  button,
  .button {
    width: 150px;
    height: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    @include defaultColor;
    @include center;
    @include clickable;
    @include nonClickable;
    &.rounded {
      @include rounded;
    }
    &.fluid {
      width: stretch;
    }
  }
  ul {
    list-style-type: circle;
    &.inline {
      list-style-type: none;
      & > li {
        float: left;
        margin-right: $li-inline-margin-right;
      }
    }
  }
  .message {
    flex-direction: column;
    position: relative;
    @include defaultColor;
    cursor: pointer;
    width: 200px;
    top: 0;
    opacity: 0.7;
    right: 0;
    left: 100%;
    margin-top: 10px;
    overflow-wrap: break-word;
    padding: $padding;
    z-index: 15;
    .time-line {
      position: relative;
      width: calc(100% + #{$padding * 2});
      height: 5px;
      background: red;
      top: $padding;
      right: $padding;
    }
  }

  .button-group {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    max-width: 500px;
    & > * {
      border-radius: 0;
      &:first-of-type {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }
      &:last-of-type {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
    &.divider {
      & > * {
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        &:first-of-type {
          border-left: 0;
        }
        &:last-of-type {
          border-right: 0;
        }
      }
    }
    &.vertical {
      flex-direction: column;
      & > * {
        border-radius: 0;
        &:first-of-type {
          border-top-left-radius: $border-radius;
          border-top-right-radius: $border-radius;
        }
        &:last-of-type {
          border-bottom-left-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
        }
      }
    }
    &.no-border {
      & > * {
        border-radius: 0;
      }
    }
  }
  // ELEMENTS

  // Form
  form {
    position: relative;
    label {
      position: absolute;
      top: 20px;
      left: 0;
      bottom: 0;
      z-index: 2;
      opacity: 0.5;
      cursor: text;
      transition: 0.2s ease all;
      margin: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 45%;
        height: 2px;
        width: 10px;
        visibility: hidden;
        background-color: $bg-color-primary;
        transition: 0.2s ease all;
      }
    }
    input {
      outline: 0;
      position: relative;
      z-index: 1;
      border-radius: 0;
      border-width: 0 0 1px;
      border-bottom-color: rgba(0, 0, 0, 0.25);
      height: auto;
      padding: 3px 0 5px;

      &:focus {
        box-shadow: none;
        border-bottom-color: rgba(0, 0, 0, 0.12);
        ~ label {
          top: 0;
          opacity: 1;
          color: $bg-color-primary;
          font-size: 12px;
          &:after {
            visibility: visible;
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }

  // COLORS
  .is-success {
    @include successColor;
  }
  .is-primary {
    @include primaryColor;
  }
  .is-warning {
    @include warningColor;
  }
  .is-danger {
    @include dangerColor;
  }

  // MODS
  .hidden {
    display: none;
  }
  .text-left {
    text-align: left !important;
  }

  .text-center {
    text-align: center !important;
  }

  .text-right {
    text-align: right !important;
  }
}
